@using SchoolManager.Domain.Entities
@model IEnumerable<SchoolManager.Domain.Entities.Aluno>

@{
    ViewData["Title"] = "ListAluno";
}

<h1>Consulta de alunos</h1>

<p>
    <a asp-action="CreateAlunoView">Inserir aluno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p class="text-capitalize">
                    @Html.DisplayNameFor(model => model.Id)
                </p>
            </th>
            <th>
                <p class="text-capitalize">
                    @Html.DisplayNameFor(model => model.Nome)
                </p>
            </th>
            <th>
                <p class="text-capitalize">
                    @Html.DisplayNameFor(model => model.Usuario)
                </p>
            </th>
            <th>
                <p class="text-capitalize">
                    @Html.DisplayNameFor(model => model.Senha)
                </p>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Aluno item in Model) {
        <tr>
            <td class="@(item.Inativo ? "text-decoration-line-through" : "")">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td class="@(item.Inativo ? "text-decoration-line-through" : "")">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="@(item.Inativo ? "text-decoration-line-through" : "")">
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td class="@(item.Inativo ? "text-decoration-line-through" : "")">
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
                @if (!item.Inativo)
                {
                    <td>
                        @Html.ActionLink("Editar", "UpdateAlunoView", new { id = item.Id }) |
                        @Html.ActionLink("Inativar", "InactivateAlunoView", new { id = item.Id })
                    </td>
                }
                else
                {
                    <td>
                        <form asp-action="ActivateAluno" asp-controller="Aluno" method="post">
                            <input type="hidden" name="id" value="@item.Id" asp-route-id="@item.Id" />
                            <button type="submit" class="btn btn-primary">Ativar</button>
                        </form>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
