@using SchoolManager.Domain.Entities
@model IEnumerable<SchoolManager.Domain.Entities.Turma>

@{
    ViewData["Title"] = "ListTurma";
}

<h1>Consulta de turmas</h1>

<p>
    <a asp-action="CreateTurmaView">Inserir turma</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p class="text-capitalize">
                    @Html.DisplayNameFor(model => model.CursoId)
                </p>
            </th>
            <th>
                <p class="text-capitalize">
                    @Html.DisplayNameFor(model => model.TurmaNome)

                </p>
            </th>
            <th>
                <p class="text-capitalize">
                    @Html.DisplayNameFor(model => model.Ano)

                </p>
            </th>
            <th>
                <p class="text-capitalize">
                    @Html.DisplayNameFor(model => model.Id)

                </p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Turma item in Model) {
        <tr>
                <td class="@(item.Inativo ? "text-decoration-line-through" : "")">
                    @Html.DisplayFor(modelItem => item.CursoId)
                </td>
                <td class="@(item.Inativo ? "text-decoration-line-through" : "")">
                    @Html.DisplayFor(modelItem => item.TurmaNome)
                </td>
                <td class="@(item.Inativo ? "text-decoration-line-through" : "")">
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
                <td class="@(item.Inativo ? "text-decoration-line-through" : "")">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                @if (!item.Inativo)
                {
                    <td>
                        @Html.ActionLink("Editar", "UpdateTurmaView", new { id = item.Id }) |
                        @Html.ActionLink("Inativar", "InactivateTurmaView", new { id = item.Id })
                    </td>
                }
                else
                {
                    <td>
                        <form asp-action="ActivateTurma" asp-controller="Turma" method="post">
                            <input type="hidden" name="id" value="@item.Id" asp-route-id="@item.Id"/>
                            <button type="submit" class="btn btn-primary">Ativar</button>
                        </form>
                    </td>
                }
        </tr>
}
    </tbody>
</table>